/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0 12em;
}

.left-picture, .right-picture{
    position: absolute;
    object-fit: contain;
}

.left-picture{
    top: 0;
    left: 0;
    margin: 3em 0 0 1em;
    width: 7em;
    height: 40em;
}

.right-picture{
    right: 0;
    z-index: -1;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3.5em 0 8em 0;
}

.website-name span{
    color: #FD6E0A;
}

header nav{
    display: flex;
    align-items: center;
    gap: 2.5em;
    list-style: none;
    cursor: pointer;
    font-size: 1.1em;
}

header nav a{
    text-decoration: none;
    color: #000000;
}

.website-name{
    text-decoration: none;
    color: #000000;
    font-size: 2.5em;
    font-weight: 900;
}

.button{
    background: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
}

.introduction {
    display: flex;
}

.introduction h2{
    font-size: 2.5em;
    font-weight: 600;
}

.introduction h1{
    font-size: 4.5em;
    font-weight: 700;
    line-height: 0.4em;
}

.introduction p{
    color: #757575;
    font-size: 1.2em;
}

.download-resume{
    display: flex;
    align-items: center;
    gap: 1em;
    width: max-content;
    margin-top: 2.2em;
}

.download-resume img{
    width: 1.5em;
}

.developer-picture{
    margin: -5.65em 0 0 5em;
    width: 35em;
    height: 38em;
    object-fit: contain;
}

.about-me{
    margin: 10em 0;
    text-align: center;
}

.about-me h1{
    margin-bottom: 1.5em;
    font-size: 2.2em;
}

.about-me p{
    color: #757575;
    font-size: 1.2em;
}

.about-me div p{
    display: flex;
    flex-direction: column;
    color: #757575;
    font-size: 1.4em;
}

.about-me div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.about-me div p strong{
    color: #000000;
    line-height: 2em;
}

.what-i-do{
    margin: 10em 0;
}

.what-i-do h1{
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 2.2em;
}

.skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.skills-container div{
    width: 12em;
    background: #FFFFFF;
    box-shadow: 0 6px 50px rgb(0 0 0 / 6%);
    border-radius: 5px;
    padding: 30px;
}

.skills-container h1{
    margin-bottom: 0;
    text-align: left;
    font-size: 1.4em;
}

.skills-container p{
    color: #757575;
}

.resume-summary-container h1{
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 2.2em;
}

.resume-summary-container hr{
    margin: 2em 0;
    border-width: 1px;
}

.education-experience-container{
    display: flex;
    gap: 3em;
}

.education-container{
    width: 50%;
    text-align: justify;
}

.education-container h2{
    font-size: 1.3em;
}

.education-container h1{
    text-align: left;
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.education-container h3{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.education-container p{
    color: #757575;
}

.resume-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.contact {
    margin: 10em 0;
    display: flex;
    justify-content: center;
    gap: 8em;
}

.contact div {
    width: 38%;
}

.contact h1{
    font-size: 2.2em;
}

.contact p{
    color: #757575;
    font-size: 1.2em;
}

.social-media-container{
    margin-top: 2.5em;
    display: flex;
    gap: 1em;
}

.social-media-container img{
    width: 1.6em;
}

form{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

form input, textarea{
    border: 0;
    width: 100%;
    padding: 18px 30px;
}